<%provide(:title, "Home") %>
  <!--Header-->
  <div class="header">
    <div class="container">
      <div class="row">
        <div class="title col-md-4">
          <h1>Alex Ge & Ada Xu</h1>
        </div>
        <div class="pull-right">
          <ul class="nav nav-pills">
            <li>
              <%=link_to("Our Story", "#", class: "active") %>
            </li>
            <li>
              <%=link_to("Milestones", "#") %>
            </li>
            <li>
              <%=link_to("Moments", "#") %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--Main-->
  <div class="main">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <%=link_to(image_tag("moment01.jpg"), "#", class: "thumbnail") %>
        </div>
        <div class="col-md-4">
          <%=link_to(image_tag("moment02.jpg"), "#", class: "thumbnail") %>
        </div>
        <div class="col-md-4">
          <%=link_to(image_tag("moment03.jpg"), "#", class: "thumbnail") %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <%=link_to(image_tag("moment04.jpg"), "#", class: "thumbnail") %>
        </div>
        <div class="col-md-4">
          <%=link_to(image_tag("moment05.jpg"), "#", class: "thumbnail") %>
        </div>
        <div class="col-md-4">
          <%=link_to(image_tag("moment06.jpg"), "#", class: "thumbnail") %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <%=link_to(image_tag("moment07.jpg"), "#", class: "thumbnail") %>
        </div>
        <div class="col-md-4">
          <%=link_to(image_tag("moment08.jpg"), "#", class: "thumbnail") %>
        </div>
        <div class="col-md-4">
          <%=link_to(image_tag("moment09.jpg"), "#", class: "thumbnail") %>
        </div>
      </div>
    </div>
  </div>
  <!--Footer-->
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <ul class="social-media pull-left">
            <li><%=link_to("WeChat Public Account", "#") %></li>
            <li><%=link_to("Sina Weibo", "#") %></li>
            <li><%=link_to("Twitter", "#") %></li>
            <li><%=link_to("Facebook", "#") %></li>
          </ul>
        </div>
        <div class="pull-right">
          <p>&copy D & G Corp.</p>
        </div>
      </div>
    </div>
  </div>
