// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// SASS-Bootstrap
@import "bootstrap-sprockets";
@import "bootstrap";

// Body:
body {
  background: url("brand.jpg") no-repeat fixed;
  background-size: 100%;
}

// Header:
.header {
  ul {
    list-style: none;
    li {
      display: inline-block;
      a {
        text-decoration: none;
      }
    }
  }
}

.header {
  padding: 30px 0;
  .title {
    color: white;
    font-size: 15px;
    text-transform: uppercase;
  }
  .nav {
    padding: 12px;
    ul {
      list-style: none;
    }
    li {
      display: inline-block;
      width: 100px;
      margin: 6px;
      text-align: center;
    }
    a {
      color: #f01251;
      text-decoration: none;
      font-size: 16px;
    }
    .active {
      color: white;
      background-color: #f01251;
    }
  }
}

// Main:
.main {
  margin-bottom: 30px;
  .thumbnail {
    border: 0px;
    border-radius: 0px;
    padding: 0px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  }
}

// Footer
.footer {
  padding: 30px 0;
  color: #444;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  .social-media {
    list-style: none;
    li {
      margin-right: 40px;
      display: inline-block;
      &:first-child {
        margin-left: 0;
        padding-left: 0;
      }
    }
    a {
      color: #444;
      text-decoration: none;
    }
  }
}